@import "tailwindcss";

@theme {
  /* ---FONTS---*/
  --font-montserrat: "Montserrat", sans-serif;
  --font-nunito: "Nunito", sans-serif;
  --font-roboto-mono: "Roboto Mono", monospace;

  /* ---COLOR PALET---*/
  --color-ink-black: #050517;
  --color-mint-cream: #f2f7f2;
  --color-pumpkin-spice: #f5853f;
  --color-deep-lilac: #6247aa;
  --color-coffee-bean: #1c1018;
}
